
@import url(https://fonts.googleapis.com/css?family=Lato);
#send, #transactions, #success, #preloader, .error {
  display: none;
}
#preloader {     
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:9999;
    background: gray url(spinner.gif) no-repeat center center; 
    opacity: 0.4;
}

body, #view{

  width: 100%;
  height: 100%;
  text-align: center;
}
#view{
  font-family: 'Lato', sans-serif;  
}

h1 {
  background-color: #80B2B2;
}
#home, #success{
  margin: 0 auto 0 auto;
  background-color: #F8FCFC;
  text-align: center;
  width: 500px;
  height: 500px;
}

input {
margin: 10px;
}
.buttons{
  margin: 0 auto 0 auto;
}
span{
  display: block;
}

#amountSent, #receiver {
  display: inline;
}
.selections{
  display: inline;
}
a {
  text-decoration: none;
  color: black;
  display: block;
  margin: 0 auto 0 auto;
  border: black;
   border: 5px solid #AFC1C1;
  border-radius: 5px;
  background-color: white;
}

input[type="email"] {
  padding:5px; 
  border:2px solid #ccc; 
  border-radius: 5px;
  background-color: #d1d1d1
}

#send{
  position: relative;
  margin: 0 auto 0 auto;
  text-align: left;
  background-color: #F8FCFC;
  width: 500px;
  height: 500px;
  z-index: 1;
}
  
#transactions{
  margin: 0 auto 0 auto;
  text-align: left;
  background-color: #F8FCFC;
  width: 500px;
  height: 500px;
  overflow: scroll;
}
#send > form >  div {
  margin: 50px;
    text-decoration: none;
  color: black;
  display: block;
  border: black;
   border: 5px solid #AFC1C1;
  border-radius: 5px;
  background-color: white;
}